<div class="box-content">
		<span class="rating">{{vote_average}}</span>
		<div class="box-info">
				<h2>{{title}}</h2>

				<div class="movie-info">
					<span class="rank">{{index}}</span>
					<div class="small-detail">
						<p>release date : {{release_date}}</p>
						<p>popularity : {{popularity}}</p>
						<button class="btn" data-key={{id}}> Learn More</button>
					</div>
				</div>
		</div>
</div>
